[submodule "3rdparty/ultravnc"]
	path = 3rdparty/ultravnc
	url = https://github.com/veyon/ultravnc.git
[submodule "3rdparty/kldap"]
	path = 3rdparty/kldap
	url = https://invent.kde.org/pim/kldap.git
[submodule "3rdparty/libvncserver"]
	path = 3rdparty/libvncserver
	url = https://github.com/veyon/libvncserver.git
[submodule "3rdparty/x11vnc"]
	path = 3rdparty/x11vnc
	url = https://github.com/veyon/x11vnc.git
[submodule "3rdparty/kitemmodels"]
	path = 3rdparty/kitemmodels
	url = https://invent.kde.org/frameworks/kitemmodels.git
	branch = master
[submodule "3rdparty/libfakekey"]
	path = 3rdparty/libfakekey
	url = git://git.yoctoproject.org/libfakekey
	branch = master
[submodule "3rdparty/qthttpserver"]
	path = 3rdparty/qthttpserver
	url = http://code.qt.io/qt-labs/qthttpserver.git
