stages:
  - build
  - collect

build-linux:
  stage: build
  image: veyon/ci.linux.$DISTRO:latest
  script:
    - .ci/linux.$DISTRO/script.sh $CI_PROJECT_DIR /tmp
  parallel:
    matrix:
      - DISTRO:
        - centos.7.9
        - debian.11
        - debian.12
        - fedora.40
        - fedora.41
        - opensuse.15.5
        - opensuse.15.6
        - opensuse.tumbleweed
        - ubuntu.20.04
        - ubuntu.22.04
        - ubuntu.24.04
  artifacts:
    paths: [ "veyon*" ]
    expire_in: 1 day

build-windows:
  stage: build
  image: $CI_REGISTRY/veyon/ci-mingw-w64:5.0
  script:
    - .ci/windows/build.sh $ARCH
  parallel:
    matrix:
      - ARCH: [i686, x86_64]
  artifacts:
    paths: [ veyon-win* ]
    expire_in: 1 day

collect-artifacts:
  stage: collect
  image: veyon/ci.linux.debian.12:latest
  dependencies: [ build-linux ]
  only: [ tags ]
  script:
    - ls -la *.deb *.rpm
  artifacts:
    paths: [ "veyon*" ]

variables:
  GIT_SUBMODULE_STRATEGY: recursive
