[submodule "3rdparty/ultravnc"]
	path = 3rdparty/ultravnc
	url = https://github.com/veyon/ultravnc.git
[submodule "3rdparty/kldap"]
	path = 3rdparty/kldap
	url = https://invent.kde.org/pim/kldap.git
[submodule "3rdparty/libvncserver"]
	path = 3rdparty/libvncserver
	url = https://github.com/LibVNC/libvncserver.git
[submodule "3rdparty/x11vnc"]
	path = 3rdparty/x11vnc
	url = https://github.com/veyon/x11vnc.git
[submodule "3rdparty/kitemmodels"]
	path = 3rdparty/kitemmodels
	url = https://invent.kde.org/frameworks/kitemmodels.git
	branch = master
[submodule "3rdparty/libfakekey"]
	path = 3rdparty/libfakekey
	url = https://git.yoctoproject.org/git/libfakekey
	branch = master
[submodule "3rdparty/qthttpserver"]
	path = 3rdparty/qthttpserver
	url = https://code.qt.io/qt-labs/qthttpserver.git
[submodule "3rdparty/krfb"]
	path = 3rdparty/krfb
	url = https://invent.kde.org/network/krfb.git
[submodule "3rdparty/aml"]
	path = 3rdparty/aml
	url = https://github.com/any1/aml.git
[submodule "3rdparty/neatvnc"]
	path = 3rdparty/neatvnc
	url = https://github.com/any1/neatvnc.git
[submodule "3rdparty/wayvnc"]
	path = 3rdparty/wayvnc
	url = https://github.com/any1/wayvnc.git
